* {
	margin: 0;
	padding: 0;	
}

a {
	text-decoration:none;
	color:#815d9d;
}

.header {	
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-decoration:none;
}

#logo {
	padding:15px 48px;
	text-align:left;
	font-size: 3em;
	color:#191970;
	text-decoration:none;
}

#add_image {
	text-align:right;	
	position:absolute;
	right:0%;	
	font-size: 12px; 
	letter-spacing:0.2em;	
	padding:7px 15px;
	margin: 15px 48px;
	color:#191970;	
	border-style:solid;
	border-width:2px;
	border-color:#191970;
	/* border-radius:5px; */
}

#add_image:hover {	
	color:#fcb671;
	border-color:#fcb671;
	background-color:#ffffff;
}

.header > a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: sans-serif;	
	background:rgb(2,0,36);
	background:linear-gradient(0deg,rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(229,241,252,1) 100%);
}

nav {
	padding: 15px;	
	/* text-align: right; */
	position: absolute;	
    	right: 0px;	
}

.container {
	display:grid;	
	margin: 0em 2em;
	grid-template-columns:repeat(4, 1fr);
	grid-gap:15px;
}
.details {
	display:none;
}

.post {
	padding:1em;
	width:fit-content;
	display:inline-block;
	/* display:flex; */
	position:relative;
	cursor:pointer;	
}

.post-container {
	position:absolute;	
	top:0;
	left:0;
	width:100%;
	height:100%;
	/* temporary set z-index to 1 until the animation with post-container works */
	z-index: -1;
}

.post:hover > .post-container{
	background-color:#124466;	
	border-radius:15px;	
}

.post > img {
	object-fit: cover;	
	width: 100%;
	max-height: 100%;
	border-radius:15px;
}

.page_container {
	visibility:hidden;
}

.page {
	/* cursor:pointer; */
	position:absolute;
	height:100vh;
	width:100vw;
	top:0;
	left:0;
	position:fixed;
	z-index:-1;
}

