<!doctype html>
<html>
	<head>
		<title>pypics</title>
		<link rel="stylesheet" type="text/css" href="/static/css/base-style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js"></script>	
	</head>
	<body>
		<div class="header">
			<a id="logo" href="/">pypics</a>
			<a id="add_image" href="{% url 'new' %}">POST IMAGE</a>
		</div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>	

		<div class="page-container">
			<div class="page"></div>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/static/js/animation.js"></script>
	</body>
</html>

